/*
  This file maps CSS Custom Properties to SASS variables for ease of use.
  As such, the variables declared cannot be used with SASS functions such
  as lighten.
*/

// sizes
$ratio: 1.151;
$s0: 1rem;
$s1: $s0 * $ratio;
$s2: $s1 * $ratio;
$s3: $s2 * $ratio;
$s4: $s3 * $ratio;
$s5: $s4 * $ratio;
$s6: $s5 * $ratio;
$s-1: $s0 / $ratio;
$s-2: $s-1 / $ratio;

// structure
$sidebarWidth: var(--sidebarWidth);

// accent colors
$accent-2: var(--accentColor-2);
$accent-1: var(--accentColor-1);
$accent: var(--accentColor);
$accent1: var(--accentColor1);
$accent2: var(--accentColor2);

// success colors
$success-2: var(--successColor-2);
$success-1: var(--successColor-1);
$success: var(--successColor);
$success1: var(--successColor1);
$success2: var(--successColor2);

// danger colors
$danger-2: var(--dangerColor-2);
$danger-1: var(--dangerColor-1);
$danger: var(--dangerColor);
$danger1: var(--dangerColor1);
$danger2: var(--dangerColor2);

// gray colors
$gray1: var(--gray1Color);
$gray2: var(--gray2Color);
$gray3: var(--gray3Color);
$gray4: var(--gray4Color);
$gray5: var(--gray5Color);
$gray6: var(--gray6Color);
$gray7: var(--gray7Color);

$modalBackground: var(--modalBackground);

// mixins
@mixin text--gray() {
  color: $gray2;
}

@mixin text--medium-gray() {
  color: $gray3;
}

@mixin text--light-gray() {
  color: $gray4;
}

@mixin text--accent() {
  color: $accent;
}
