///////////////////////
// UN-SCOPED WARNING //
///////////////////////
/*
  Due to limitations with the stencil-router-link component and it's
  'link-active' class, the styles for this component are NOT SCOPED. Be careful
  writing styles here that may bleed to other components. We encourage you to
  leverage SASS nesting as a means to help prevent this.
*/

#polaronSidebar.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  .sidebar__menu {
    margin-top: 80px;
    margin-bottom: 80px;

    a {
      text-decoration: none;

      &.link-active {
        li {
          background: $accent;
          color: white;
        }
      }
    }

    .menu__list-header {
      font-size: $s-1;
      font-weight: 600;
      @include text--light-gray();
    }

    ul {
      padding: 0;
      margin-bottom: 30px;
    }

    li {
      list-style-type: none;
      padding: 15px;
      font-weight: 600;
      display: flex;
      align-items: center;
      text-decoration: none !important;
      border-radius: 4px;
      transition: all 0.05s ease;
      @include text--gray();

      svg {
        margin-right: 10px;
        font-size: $s2 !important;
      }
    }
  }

  .sidebar__user-menu {
    // position: fixed;
    // bottom: 40px;
  }
}
