.main__left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  border-right: 2px solid $gray6;
  width: $sidebarWidth;
  padding: 40px;
  box-sizing: border-box;
  z-index: 2;
  background: $gray7;

  &.main__left--mobile {
    transform: translateX(calc(#{$sidebarWidth} * -1));
    opacity: 0;
    border-right: 0;
    box-shadow: 2px 0 6px 1px rgba(0, 0, 0, 0.1);
  }
}

.main__right {
  position: relative;
  left: $sidebarWidth;
  width: calc(100vw - #{$sidebarWidth});
  min-height: 100vh;
  padding: 40px;
  box-sizing: border-box;
  z-index: 1;
  background: $gray7;
  transition: all 0.2s ease;

  &.main__right--mobile {
    left: 0;
    width: 100vw;
  }
}
